.cart-container {
  width: 80%;
  margin: auto;
  padding: 80px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.product-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

.cart-summary {
  text-align: right;
}

button {
  padding: 5px 10px;
  margin: 0 5px;
}

.btn-primary {
  line-height: 0.7rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 1.8rem;
  background-color: #007bff; 
  color: white; 
  border-radius: 5px; 
}

.btn-danger {
  font-size: 0.8rem; 
  padding: 0.4rem 0.6rem; 
  background-color: #dc3545; 
  color: white;
  border-radius: 5px; 
}

.quantity-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Khoảng cách giữa các phần tử */
}


.quantity-container span {
  font-size: 1.2em; /* Định dạng cho số lượng */
}
