body {
	background-color: #eee;
}

.fa-shopping-cart {
	cursor: pointer;
	color: #007bff; /* Màu xám mặc định cho icon giỏ hàng */
}

.cart-icon-wrapper {
	position: relative;
}

/* Ẩn cart */
.cart-items-dropdown {
	display: none;
	position: absolute;
	top: 25px; /* Điều chỉnh khoảng cách từ icon đến danh sách */
	right: 0;
	width: 400px;
	background-color: white;
	border: 1px solid #ddd;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	padding: 10px;
	z-index: 9999;
}

/* Hiển thị danh sách khi hover vào icon giỏ hàng hoặc vùng danh sách */
.cart-icon-wrapper:hover .cart-items-dropdown,
.cart-items-dropdown:hover {
	display: block;
}

.cart-title {
	font-size: 14px;
	color: #007bff;
	margin-bottom: 10px;
	font-weight: bold;
}

/* Giao diện item trong cart */
.cart-items-dropdown ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.cart-items-dropdown .cart-item {
	display: flex;
	align-items: center;
	padding: 8px 0;
	border-bottom: 1px solid #007bff;
}

/* Căn chỉnh ảnh sang trái */
.cart-items-dropdown .cart-item img {
	margin-right: 10px;	
}

.cart-items-dropdown .cart-item span {
	font-size: 14px;
	margin-right: 10px;
	flex-grow: 1; /* Cho phép phần tử này chiếm không gian còn lại */
}

.cart-items-dropdown .cart-item .price {
	color: #007bff;
	font-weight: bold;
	text-align: right; /* Cố định giá tiền bên phải */
}

/* Nút view cart */
.view-cart {
	text-align: right;
	margin-top: 10px;
}

.view-cart a {
	font-size: 14px;
	background-color: #007bff; 
	border-color: #007bff; 
	color: white;
	padding: 5px 10px;
	text-decoration: none;
	border-radius: 3px;
}

.view-cart a:hover {
	background-color: #0056b3; 
	border-color: #0056b3;
}

.cart-icon-wrapper:hover .fa-shopping-cart {
	color: #0056b3; 
}
