  /* Flex container for aligning items */
  .header-container {
    display: flex;
    align-items: center;  /* Vertically align the items */
    justify-content: space-between; /* Ensure space between elements */
    padding: 16px;
  }

  .example-container {
    margin-left: 80px;
  }

  .example-table-container {
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
  }
