.partial-star {
    overflow: hidden;
    display: inline-block;
    position: relative;
    width: auto;
  }

.fixed-card-height {
    height: 650px; /* Adjust height as needed */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
  }